# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/
apps/web/next-env.d.ts
*.tsbuildinfo

# Sanity
apps/studio/dist/
apps/studio/.sanity/

# Env
.env
.env.local
*.local
.env.development

# Build / deploy artifacts
.netlify/

# Dossier dupliqué parasite (mauvaise copie sous apps/web)
/apps/web/apps/

# OS / editor
.DS_Store
Thumbs.db
.vercel
