# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/
apps/web/next-env.d.ts
*.tsbuildinfo

# Sanity
apps/studio/dist/
apps/studio/.sanity/

# Env
.env
.env.local
*.local

# OS / editor
.DS_Store
Thumbs.db
